.App {
  text-align: center;
  min-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  height: 100vh;
}

.about-me {
  display: flex;
  justify-content: space-between;
  margin-inline: 10vw;
}

h1 {
  margin: 0;
}

/* NAV */

header {
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.flex-row {
  display: flex;
  list-style-type: none;

}

.flex-row li {
  padding: 0 8px;
}

/* ABOUT ME */

.headshot {
  display: block;
  border-radius: 8px;
  width: 25vw;
  height: auto;

}